demo_townhall/src/main/mule/demo_townhall.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="03a49e8a-b0d2-43b5-bf25-92bb95887993" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demo_townhallFlow" doc:id="b0774b21-8180-4084-81e9-3d6f420e144f" >
		<http:listener doc:name="Listener" doc:id="7134508b-4c15-4ac1-ac2b-4c6b4f2e50cb" config-ref="HTTP_Listener_config" path="/"/>
		<set-payload value='#["mulesoft"]' doc:name="Set Payload" doc:id="8dbd69ae-7f6b-41dd-96bb-c0972fda72b4" />
	</flow>
</mule>
